@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* { 

    margin: 0px;
    padding: 0px;
    font-family: "jost";
}




.app-header {

    
    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 0px 2px 4px #464646 ;

}

.links a {
     font-size: 30px;
     text-decoration: none;
     color: #464646;
     padding: 10px;

}





  
